/* 
DayPilot Navigator Theme 
https://themes.daypilot.org/navigator/theme/skig57
Theme Designer Version: 2021.09.25.67272
*/
.mello_main { height: 100%; border-left: 1px solid #5174a6;border-right: 1px solid #5174a6;border-bottom: 1px solid #5174a6; font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif; font-size: 12px; }
.mello_main *, .mello_main *:before, .mello_main *:after { box-sizing: border-box; }
.mello_line { border-bottom: 1px solid #5174a6; }
/* month header */ 
.mello_title, .mello_titleleft, .mello_titleright { 
	border-top: 1px solid #5174a6;
	color: #f5edf5;
	background: #004052;
	background: -webkit-gradient(linear, left top, left bottom, from(#00607b), to(#002029));
	background: -webkit-linear-gradient(top, #00607b 0%, #002029);
	background: -moz-linear-gradient(top, #00607b 0%, #002029);
	background: -ms-linear-gradient(top, #00607b 0%, #002029);
	background: -o-linear-gradient(top, #00607b 0%, #002029);
	background: linear-gradient(top, #00607b 0%, #002029);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#00607b", endColorStr="#002029");
}
.mello_title { text-align: center; }
.mello_titleleft, .mello_titleright { text-align: center; }
/* day headers */
.mello_dayheader { 
	color: #f7f5f7;
	background: #177d99;
	background: -webkit-gradient(linear, left top, left bottom, from(#29b8df), to(#0b3f4d));
	background: -webkit-linear-gradient(top, #29b8df 0%, #0b3f4d);
	background: -moz-linear-gradient(top, #29b8df 0%, #0b3f4d);
	background: -ms-linear-gradient(top, #29b8df 0%, #0b3f4d);
	background: -o-linear-gradient(top, #29b8df 0%, #0b3f4d);
	background: linear-gradient(top, #29b8df 0%, #0b3f4d);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#29b8df", endColorStr="#0b3f4d");
	padding: 0px;
	text-align: center;
}
/* day cells */
.mello_cell { 
	color: #faf5fa;
	background: #246475;
	background: -webkit-gradient(linear, left top, left bottom, from(#46abc6), to(#09191d));
	background: -webkit-linear-gradient(top, #46abc6 0%, #09191d);
	background: -moz-linear-gradient(top, #46abc6 0%, #09191d);
	background: -ms-linear-gradient(top, #46abc6 0%, #09191d);
	background: -o-linear-gradient(top, #46abc6 0%, #09191d);
	background: linear-gradient(top, #46abc6 0%, #09191d);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#46abc6", endColorStr="#09191d");
	text-align: center;
}
.mello_cell_text {
	padding: 0px;
}
.mello_weeknumber { 
	color: #faf5fa;
	background: #004052;
	background: -webkit-gradient(linear, left top, left bottom, from(#005067), to(#00303e));
	background: -webkit-linear-gradient(top, #005067 0%, #00303e);
	background: -moz-linear-gradient(top, #005067 0%, #00303e);
	background: -ms-linear-gradient(top, #005067 0%, #00303e);
	background: -o-linear-gradient(top, #005067 0%, #00303e);
	background: linear-gradient(top, #005067 0%, #00303e);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#005067", endColorStr="#00303e");
	text-align: center;
	padding: 0px;
}
.mello_weekend { 
	color: #000000;
	background: #0fa9d4;
	background: -webkit-gradient(linear, left top, left bottom, from(#96e2f8), to(#042a35));
	background: -webkit-linear-gradient(top, #96e2f8 0%, #042a35);
	background: -moz-linear-gradient(top, #96e2f8 0%, #042a35);
	background: -ms-linear-gradient(top, #96e2f8 0%, #042a35);
	background: -o-linear-gradient(top, #96e2f8 0%, #042a35);
	background: linear-gradient(top, #96e2f8 0%, #042a35);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#96e2f8", endColorStr="#042a35");
	text-align: center;
	padding: 0px;
}
.mello_dayother { color: gray; }
.mello_todaybox { border: 1px solid red; }
.mello_busy { font-weight: bold; }
.mello_select .mello_cell_box { background-color: #edece6; opacity: 0.5; }
